body
{
	background-color:#dddddd;
}

div.content
{
	font:italic bold 15px Georgia, serif;
	color:#333333;
	background-color:#dddddd;
	padding:10px;
	margin:1px;
	margin-right:150px;
	margin-left:150px;
	margin-top:50px;
}

table
{
	border-collapse:collapse;
}
table, td, th
{
	border:thin solid #333333;
	padding:5px;
	margin:5px;
}

