h1.admin_title
{
	font:italic bold 30px Georgia, serif;
	color:#333333;
	background-color:#dddddd;
	text-align:center;
}
ul
{
	list-style-type:none;
	margin:0,500,0,0;
	padding:0;
	overflow:hidden;
}
li
{
	float:left;
}
a:link,a:visited
{
	font:italic bold 15px Georgia, serif;
	display:block;
	width:150px;
	font-weight:bold;
	color:white;
	background-color:#444444;
	text-align:center;
	padding:4px;
	margin-left:50px;
}
a:hover,a:active
{
	background-color:white;
	color:#444444;
}
div.navigation
{
	padding:0px;
	border:2px #000000;
	margin:0px;
	text-align:center;
	background-color:#444444;
}
