@font-face {
  font-family: 'Museo Sans 500';
  src: local("Museo Sans 500"), local("MuseoSans-500"), url('/fonts/MuseeoSans_500.otf') format('opentype'), url('/fonts/MuseoSans_500.svg#MuseoSans-500') format('svg');
}
@font-face {
  font-family: 'Museo Sans 700';
  src: local('Museo Sans 700'), local('MuseoSans-700'), url('/fonts/MuseoSans_700.otf') format('opentype'), url('/fonts/MuseoSans-700.svg#MuseoSans-700') format('svg');
  font-weight: bold;
}
#callout { background-image: url(../include/img/circuit_bg.jpeg); }
#callout div.container { background-repeat: no-repeat; }
#content { text-align: center; }
#content a img {
  max-height: 5em;
  max-width: 5em;
  margin: 1.66666666666667em;
  vertical-align: middle;
  opacity: 0.5;
  -webkit-transition: opacity 0.5s linear;
}
#content a:hover img { opacity: 1; }
