@font-face {
  font-family: 'Museo Sans 500';
  src: local("Museo Sans 500"), local("MuseoSans-500"), url('/fonts/MuseeoSans_500.otf') format('opentype'), url('/fonts/MuseoSans_500.svg#MuseoSans-500') format('svg');
}
@font-face {
  font-family: 'Museo Sans 700';
  src: local('Museo Sans 700'), local('MuseoSans-700'), url('/fonts/MuseoSans_700.otf') format('opentype'), url('/fonts/MuseoSans-700.svg#MuseoSans-700') format('svg');
  font-weight: bold;
}
#login_form {
  margin: 3em auto;
  width: 30em;
  background: #ffffff;
  padding: 2em;
  color: #444444;
}
#login_form h1 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 0.5em;
  letter-spacing: -0.06em;
  color: #222222;
}
#login_form table {
  width: 100%;
  border-collapse: collapse;
}
#login_form td {
  padding: 0.5em;
  text-align: left;
  padding-left: 0px;
}
#login_form th {
  padding: 0.5em;
  text-align: left;
  padding-left: 0px;
}
#login_form th {
  text-transform: uppercase;
  letter-spacing: -0.06em;
  color: rgba(0, 0, 0, 0.6);
}
#login_form tr:last-child td {
  text-align: right;
  padding-right: 0px;
}
#login_form input[type="text"] {
  font-family: helvetica, lucida grande;
  font-size: 1.25em;
  padding: 0.25em;
  -webkit-box-shadow: inset 0px 3px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0px 3px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0px 3px rgba(0, 0, 0, 0.075);
  border: solid 1px #999999;
  width: 100%;
  color: rgba(0, 0, 0, 0.6);
}
#login_form input[type="password"] {
  font-family: helvetica, lucida grande;
  font-size: 1.25em;
  padding: 0.25em;
  -webkit-box-shadow: inset 0px 3px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0px 3px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0px 3px rgba(0, 0, 0, 0.075);
  border: solid 1px #999999;
  width: 100%;
  color: rgba(0, 0, 0, 0.6);
}
#login_form input[type="text"]:focus {
  color: rgba(0, 0, 0, 0.8);
  border: solid 1px #cc0000;
}
#login_form input[type="password"]:focus {
  color: rgba(0, 0, 0, 0.8);
  border: solid 1px #cc0000;
}
