h1.admin_title
{
	font:italic bold 30px Georgia, serif;
	color:#333333;
	background-color:#dddddd;
	text-align:center;
}
ul
{
	list-style-type:none;
	margin:0,0,0,0;
	padding:0;
	overflow:hidden;
}
li
{
	float:left;
}
a:link,a:visited
{
	font:italic bold 15px Georgia, serif;
	display:block;
	font-weight:bold;
	color:white;
	background-color:#444444;
	text-align:center;
	padding:4px;
	margin-left:50px;
}
a:hover,a:active
{
	background-color:white;
	color:#444444;
}
div.navigation
{
	align:center;
	padding:0px;
	border:2px #000000;
	margin:0px;
	text-align:center;
	background-color:#444444;
}
body
{
	background-color:#dddddd;
}

div.content
{
	font:italic bold 15px Georgia, serif;
	color:#333333;
	background-color:#dddddd;
	padding:10px;
	margin:1px;
	margin-right:150px;
	margin-left:150px;
	margin-top:50px;
}

table
{
	border-collapse:collapse;
}
table, td, th
{
	border:thin solid #333333;
	padding:5px;
	margin:5px;
}

