@font-face {
  font-family: 'Museo Sans 500';
  src: local("Museo Sans 500"), local("MuseoSans-500"), url('/fonts/MuseeoSans_500.otf') format('opentype'), url('/fonts/MuseoSans_500.svg#MuseoSans-500') format('svg');
}
@font-face {
  font-family: 'Museo Sans 700';
  src: local('Museo Sans 700'), local('MuseoSans-700'), url('/fonts/MuseoSans_700.otf') format('opentype'), url('/fonts/MuseoSans-700.svg#MuseoSans-700') format('svg');
  font-weight: bold;
}
#callout {
  background-image: url(../include/img/single_engine_edited.jpeg);
  background-position: center center;
}
div.event {
  border-bottom: solid 1px #333333);
  border-bottom: solid 1px rgba(0, 0, 0, 0.25);
  padding-bottom: 1em;
  margin-bottom: 1em;
}
div.event .date {
  display: inline-block;
  vertical-align: text-top;
  margin: 0px;
  padding: 0px;
  color: rgba(0, 0, 0, 0.6);
  -webkit-transition: color 0.25s linear;
  line-height: 1.4em;
  font-size: 0.9em;
}
div.event .time {
  display: inline-block;
  vertical-align: text-top;
  margin: 0px;
  padding: 0px;
  color: rgba(0, 0, 0, 0.6);
  -webkit-transition: color 0.25s linear;
  line-height: 1.4em;
  font-size: 0.9em;
}
div.event .desc {
  display: inline-block;
  vertical-align: text-top;
  margin: 0px;
  padding: 0px;
  color: rgba(0, 0, 0, 0.6);
  -webkit-transition: color 0.25s linear;
  line-height: 1.4em;
  font-size: 0.9em;
}
div.event .date {
  width: 25%;
  text-transform: uppercase;
  letter-spacing: -0.06em;
  font-weight: bold;
}
div.event .time { width: 9%; }
div.event .desc { width: 65%; }
.event:hover .date { color: rgba(0, 0, 0, 0.9); }
.event:hover .time { color: rgba(0, 0, 0, 0.9); }
.event:hover .desc { color: rgba(0, 0, 0, 0.9); }
div.event:last-child {
  border-bottom: none;
  margin-bottom: 0px;
}
div.legend { border-bottom: solid 1px rgba(0, 0, 0, 0.75); }
div.legend .date {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1em;
}
div.legend .time {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1em;
}
div.legend .desc {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1em;
}
div.legend:hover .date {
  color: inherit;
  text-shadow: none;
}
div.legend:hover .time {
  color: inherit;
  text-shadow: none;
}
div.legend:hover .desc {
  color: inherit;
  text-shadow: none;
}
