@font-face {
  font-family: 'Museo Sans 500';
  src: local("Museo Sans 500"), local("MuseoSans-500"), url('/fonts/MuseeoSans_500.otf') format('opentype'), url('/fonts/MuseoSans_500.svg#MuseoSans-500') format('svg');
}
@font-face {
  font-family: 'Museo Sans 700';
  src: local('Museo Sans 700'), local('MuseoSans-700'), url('/fonts/MuseoSans_700.otf') format('opentype'), url('/fonts/MuseoSans-700.svg#MuseoSans-700') format('svg');
}
#signup {
  float: left;
  padding: 1em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  border: solid 1px rgba(0, 0, 0, 0.25);
  margin: 0px 2em 2em 0px;
  background: #ffffff;
  background-color: rgba(0, 0, 0, 0.075);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.075)), to(rgba(0, 0, 0, 0)));
}
#signup h2 {
  font-family: 'Museo Sans 500', helvetica, sans-serif;
  font-size: 1.5em;
  letter-spacing: -0.06em;
  margin-bottom: 0.5em;
}
#signup table {
  width: 100%;
  margin: 0px;
  padding: 0px;
  border-collapse: collapse;
}
#signup td {
  padding: 1em;
  text-align: left;
  padding-left: 2em;
}
#signup th {
  padding: 1em;
  text-align: left;
  padding-left: 2em;
}
#signup td:first-child { padding-left: 0px; }
#signup th:first-child { padding-left: 0px; }
#signup th {
  padding-left: 28px;
  padding-bottom: 0.25em;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.8em;
}
#signup td { padding-top: 0.25em; }
#signup input[type="text"] {
  margin: 0px;
  width: 100%;
  min-width: 15em;
  font-size: 0.9em;
  padding: 0.35em;
  border: solid 1px #aaaaaa;
  -webkit-box-shadow: inset 0px 3px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0px 3px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0px 3px rgba(0, 0, 0, 0.075);
  font-family: helvetica, lucida grande;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition-property: color, border;
  -webkit-transition-duration: 0.5s;
}
#signup input[type="text"]:focus {
  color: rgba(0, 0, 0, 0.9);
  border: solid 1px #990000;
}
#signup select {
  min-width: 15em;
  max-width: 100%;
  padding: 0px;
  margin: 0px;
}
#signup #org_zip {
  min-width: 4em !important;
  max-width: 4em !important;
  text-align: center;
}
#signup input[type="submit"] {
  font-size: 1em;
  font-family: 'Museo Sans 500', helvetica, sans-serif;
  background-color: #cc0000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cc0000), to(#990000));
  color: #ffffff;
  border: solid 1px transparent;
  -webkit-border-radius: 0.35em;
  -moz-border-radius: 0.35em;
  border-radius: 0.35em;
  min-width: 10em;
  margin: 0px;
  padding: 0.5em 0px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}
#slider {
  position: relative;
  width: 100%;
  height: 450px;
  margin: 30px 30px 70px 30px;
  background: #202834 url(loading.gif) no-repeat 50% 50%;
  -webkit-box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.4);
  border: solid 10px #ffffff;
}
#slider img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  max-width: 100%;
  max-height: 450px;
}
#slider .nivo-caption p {
  margin-bottom: 0px;
  line-height: normal;
  padding: 1em;
  display: inline-block;
  color: #222222;
  font-family: lucida handwriting, helvetica, lucida grande;
  background: rgba(255, 250, 205, 0.95);
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  border: solid 1px #cdc89b;
  width: auto;
  font-size: 1.15em;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.95);
}
#slider .nivo-caption {
  -webkit-transform: rotate(1.25deg);
  -moz-transform: rotate(1.25deg);
  background: transparent;
  text-align: center;
  margin-bottom: -20px;
}
#slider .nivo-controlNav {
  position: absolute;
  left: 47%;
  bottom: -40px;
}
#slider .nivo-controlNav a {
  display: block;
  width: 10px;
  height: 10px;
  background: url(bullets.png) no-repeat;
  text-indent: -9999px;
  border: 0;
  margin-right: 3px;
  float: left;
}
#slider .nivo-controlNav a.active { background-position: -10px 0; }
#slider .nivo-directionNav a {
  display: block;
  width: 30px;
  height: 30px;
  background: url(arrows.png) no-repeat;
  text-indent: -9999px;
  border: 0;
}
#slider a.nivo-nextNav {
  background-position: -30px 0;
  right: 15px;
}
#slider a.nivo-prevNav { left: 15px; }
